<div>
    <img class="img-center" src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a">
</div>
<div>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="First">

        </mat-tab>
        <mat-tab label="Second">
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    1
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    1
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    1
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    1
                </mat-grid-tile>
              </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</div>