<div>
    <img class="img-center" src="assets/venados_logo.png">
</div>
<div>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="COPA">
            <app-game-month *ngFor="let copa of this.list_copa" [header]="copa.month" [games]="copa.games"></app-game-month>
        </mat-tab>
        <mat-tab label="ASCENSO MX">
            <app-game-month *ngFor="let copa of this.lista_ascenso" [header]="copa.month" [games]="copa.games"></app-game-month>
        </mat-tab>
    </mat-tab-group>
</div>
